/*
 * Estilos de tu proyecto
 */

 body{
 	margin: 0;
 	font-family: 'Raleway', sans-serif;
 }
nav{
	background-color: #473E71;
	color: white;

}

 nav ul li{
 	list-style: none;
 }

 nav ul li a{
 	text-decoration: none;
 	color: white;
 }

nav ul li{
	text-align: right;
	padding: 10px;
}