/*
 * Estilos de tu proyecto
 */

 body{
 	margin: 0;
 	font-family: 'Montserrat', sans-serif;
 }

 /**************Aca comienza mi navegador***************/
 nav{
 	position: fixed;
 	width: 100%;
 	background-color: #1D264B;
 	color: white;
 	z-index: 1000;
 	font-size: 15px;
 }

 nav ul li{
 	list-style: none;
 	text-align: right;
 }

 nav ul li a{
 	text-decoration: none;
 	color: white;
 	font-size: 10px;
 }





 /************Aca comienza mi seccion start bootstrap***********/
 #seccion{
 	background-color: #00B2A9;
 	padding: 100px 0;
 	text-align: center;
 }

 .start{
 	font-size: 65px;
 	color: white;

 }

 .imagen{
 	padding-top: 80px;
 }

 .linea{/* Intente poner la linea para pode poner encima la estrella pero no me funciono*/
 	padding: 0;
 	border: none;
 	border-top: solid 5px;
 	text-align: center;
 	max-width: 250px;
 	margin: 25px auto 30px
 }

 .especialidades{
 	color: white;
 	font-size: 20px;
 }



 /*************Aca comienza mi seccion portfolio***************/
 .section-portfolio{
 	text-align: center;
 	font-size: 30px;
 	padding: 25px 0;
 }

 .container-image{
 	width: 100%;
 	margin: 10px 20px;
 }

 .container-image img{
 	width: 50%;
 }

 /*******Aca comienza la seccion about*********/

 .about-container{
 	background-color: #00B2A9;
 	color: white;
 	padding: 100px 0;
 	text-align: center;
 }
 .about{
 	font-size: 30px;
 	padding: 25px 0;
 }

 .about-uno{
 	text-align: left;
 }

 /**********Aca cmienza la seccion contact me***********/

 .contact-container{
 	padding: 100px 0;	
 }

 .contact-me{
 	text-align: center;
 	font-size: 30px;
 	padding: 25px 0;
 }

